<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp - URLs Index</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <h2>URLs Index</h2>
    <ul>
      <% for (var url in urls) { %>
      <li><%= urls[url] + "\t-\t" + url %>
      <form method="POST" action="/urls/<%=url%>/delete">
        <input type="submit" id="<%=url%>" name="<%=url%>" value="Delete">
      </form></li>
      <% } %>
    </ul>
  </form>
  <a href="Shorten another URL">Shorten another URL</a>

</body>
</html>