<!DOCTYPE html>
<html>
<head>
  <title>Tiny App</title>
</head>
<body>
    <form action="/login" method="POST" style="margin:150px;">
      <label for="email">Enter your email address:</label>
      <input id="email" type="email" name="email" placeholder="john@example.com" style="width: 300px">
      <p>
      <label for="password">Enter your password:</label>
      <input id="password" type="password" name="password" placeholder="Enter a password" style="width: 300px">
      </p>
      <input type="submit" value="Login">
    </form>
</body>
</html>