<!DOCTYPE html>
<html>
<head>
  <title>TinyApp&trade;</title>
</head>
<body>
  <h1>TinyApp&trade;</h1>
  <header>
    <% include partials/_header %>
  </header>
  <h3>Login</h3>
  <form action="/login" method="POST">
    <label for="email">Enter your email address:</label>
    <input id="email" type="email" name="email" placeholder="john@example.com" style="width: 300px">
    <p>
    <label for="password">Enter your password:</label>
    <input id="password" type="password" name="password" placeholder="Enter a password" style="width: 300px">
    </p>
    <input type="submit" value="Login">
  </form>
</body>
</html>