<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny App - URL Page</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <h2>URL Show</h2>
  <%= urls[shortURL] + "\t-\t" + shortURL; %>
</body>
</html>